* {
	margin: 0;
	padding: 0;
}
.min-1280{
	width: 100%;
  min-width: 1280px;
}
.w-100{
	width: 100%;
}
.content {
	width: 1200px;
	margin: 0 auto;
	font-family: inherit;
}

@media screen and (max-width: 1200px) {
	.content {
		width: 1200px;
		margin: 0;
		font-family: inherit;
	}
}
